@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    margin: 0;
    padding: 0;
}

header {
    width: 1296px;
    margin: 0 auto;
    padding-top: 49px;



}

.header__items {
    display: flex;
    justify-content: space-around;
    margin-right: 27px;
    /* flex: 1 1 auto; */

}

.header__logo {
    margin-top: -12px;
    margin-bottom: 30px;

}



.header__items li {
    display: inline-block;
    margin-right: 80px;


}



.header__img {
    margin-top: 1px;
    margin-left: -50px;
}

.header__img img {
    padding-left: 6px;
}

nav {
    display: inline-block;

}

nav li a {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */
    text-decoration: none;


    color: #856A65;
}

hr {
    margin-bottom: 76px;
    width: 1296px;
    opacity: 0.5;
    border: 1px solid #000000;
}

nav ul :last-child {
    margin-right: 20px;
}



a {
    position: relative;
    color: #484848;
    font-size: 1.25rem;
    text-decoration: none;
}

a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 1.5px;
    background-color: #CDAA7D;
}

a:hover:before {
    width: 100%;
}

a::before {
    transition: width 0.35s;
}.footer__img img{
    Width: 70px;
    Height: 64.24px;
    margin-left: 246px;
}

.footer__items {
    border-top: 1px solid #242220;
    border-bottom: 1px solid #242220;
    padding-top: 77px;
    padding-bottom: 77px;
    padding-right: 94px;
    opacity: 0.5;
    width: 1296px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
}

.footer__contacts {
    margin-left: -115px;

}

.footer__contacts li {
    margin-top: 17px;
    cursor: pointer;
}

.footer__contacts li:last-child {
    
    cursor: auto;
}
.working__time {
    margin-left: -139px
}
.working__time li {

    margin-top: 17px;
    
}

section h2{
    font-family: 'Aref Ruqaa Ink';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #856A65;
    margin-bottom: 100px;
}
.conteiner{
    margin-left: 108px;
}

.masters{
    float: left;
    margin:0 12px;


}
.masters{
    width: 416px;
    height: 595px;
    margin-bottom: 60px;
}
.masters img{

    width: 400px;
    height: 477px;
    border: 1px solid #fff;
}
.masters h4{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 130%;
    color: #856A65;  
    margin-bottom: -20px;
}
.masters h5{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #856A65;
}
.masters img:hover{
    cursor: pointer;
    border: 1px solid #CDAA7D;
}

