@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    margin: 0;
    padding: 0;
}

/* Общие стили для десктопа */
header {
    width: 1296px;
    margin: 0 auto;
    padding-top: 49px;
}

body {
    margin-bottom: 0;
}

.header__items {
    display: flex;
    justify-content: space-around;
    margin-right: 27px;
}

.header__logo {
    margin-top: -12px;
    margin-bottom: 30px;
}

.header__items li {
    display: inline-block;
    margin-right: 80px;
}

.header__img {
    margin-top: 1px;
    margin-left: -50px;
}

.header__img img {
    padding-left: 6px;
}

nav {
    display: inline-block;
}

nav li a {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    text-decoration: none;
    color: #856A65;
}

hr {
    margin-bottom: 76px;
    width: 1296px;
    opacity: 0.5;
    border: 1px solid #000000;
}

nav ul :last-child {
    margin-right: 20px;
}

/* Стили ссылок для десктопа */
nav a {
    position: relative;
    color: #484848;
    font-size: 1.25rem;
    text-decoration: none;
}

nav a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 1.5px;
    background-color: #CDAA7D;
}

nav a:hover::before {
    width: 100%;
}

nav a::before {
    transition: width 0.35s;
}

/* Основной контент */
.heading {
    margin-left: 29px;
    margin-bottom: 80px;
    text-align: center;
    font-family: 'Aref Ruqaa Ink';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #856A65;
}

.map {
    width: 1300px;
    margin: 0 auto 80px;
}

.map iframe {
    width: 100%;
    height: 576px;
    display: block;
    margin: 0 auto;
}

/* Футер для десктопа */
.footer__img img {
    width: 70px;
    height: 64.24px;
    margin-left: 128px;
    margin-right: 100px;
    z-index: 1;
}

.footer__items {
    border-top: 1px solid #242220;
    border-bottom: 1px solid #242220;
    padding-top: 77px;
    background: #FDF4F4;
    padding-bottom: 77px;
    padding-right: 94px;
    opacity: 0.5;
    width: 1296px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
}

.footer__contacts {
    margin-left: -115px;
}

.footer__contacts li {
    margin-top: 17px;
    cursor: pointer;
}

.footer__contacts li:last-child {
    cursor: auto;
}

.working__time {
    margin-left: -139px;
}

.working__time li {
    margin-top: 17px;
}

.social {
    padding-right: 49px;
}

.social img {
    cursor: pointer;
    margin-right: 10px;
}

.social h2,
.footer__contacts h2,
.working__time h2 {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #856A65;
    margin-bottom: 15px;
}

.social ul,
.footer__contacts ul,
.working__time ul {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #856A65;
}

.end {
    width: 1296px;
    height: 59px;
    margin: 0 auto;
    background: #FDF4F4;
}

.end h1 {
    padding-top: 15px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #A6A0A0;
    opacity: 0.5;
}

/* Кнопка гамбургер-меню (скрыта по умолчанию) */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
    background: none;
    border: none;
    position: absolute;
    right: 20px;
    top: 30px;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: #856A65;
    margin: 3px 0;
    transition: 0.4s;
}

/* ===================== */
/* МОБИЛЬНАЯ АДАПТАЦИЯ */
/* ===================== */

/* Планшеты и небольшие ноутбуки */
@media (max-width: 1300px) {
    header,
    .footer__items,
    .end,
    .map {
        width: 95%;
        max-width: 1200px;
    }
    
    .header__items li {
        margin-right: 40px;
    }
    
    hr {
        width: 95%;
        max-width: 1200px;
    }
    
    .map iframe {
        height: 500px;
    }
}

/* Планшеты */
@media (max-width: 1024px) {
    .header__items {
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 0;
    }
    
    .header__logo {
        order: 1;
        margin: 0 auto 20px;
        position: relative;
        display: block;
    }
    
    .header__img {
        order: 2;
        margin: 0;
    }
    
    nav:first-of-type {
        order: 3;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    
    nav:first-of-type ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
    }
    
    nav:last-of-type {
        order: 4;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    
    nav:last-of-type ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        margin-right: 0;
    }
    
    .header__items li {
        margin-right: 40px;
        margin-bottom: 10px;
    }
    
    .heading {
        font-size: 42px;
        margin-left: 0;
    }
    
    .footer__items {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding: 40px 20px;
    }
    
    .footer__img {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .footer__img img {
        margin: 0 auto;
    }
    
    .footer__contacts,
    .working__time,
    .social {
        margin: 20px 0;
        padding: 0;
        width: 100%;
    }
    
    .social h2 {
        margin-bottom: 15px;
    }
}

/* Мобильные устройства */
@media (max-width: 768px) {
    header {
        width: 100%;
        padding-top: 20px;
        position: relative;
        min-height: 80px;
    }
    
    .header__items {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }
    
    .menu-toggle {
        display: flex;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    
    .header__logo {
        order: 1;
        margin: 0 auto 15px;
        width: 80px;
    }
    
    /* Скрываем навигацию по умолчанию на мобильных */
    nav:first-of-type,
    nav:last-of-type {
        display: none;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    
    /* Показываем навигацию при активации гамбургера */
    .mobile-menu-active nav:first-of-type,
    .mobile-menu-active nav:last-of-type {
        display: block;
    }
    
    nav:first-of-type ul,
    nav:last-of-type ul {
        flex-direction: column;
        gap: 15px;
        padding: 0;
    }
    
    .header__items li {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }
    
    .header__img {
        position: absolute;
        left: 15px;
        top: 20px;
        margin: 0;
        order: 2;
    }
    
    .header__img img {
        width: 30px;
        height: 30px;
    }
    
    hr {
        width: 100%;
        margin: 15px auto 40px;
    }
    
    .heading {
        font-size: 36px;
        margin-left: 0;
        margin-bottom: 40px;
        padding: 0 15px;
    }
    
    .map {
        width: 100%;
        padding: 0 15px;
        margin-bottom: 40px;
    }
    
    .map iframe {
        height: 350px;
    }
    
    .footer__items {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px 15px;
        width: 100%;
    }
    
    .footer__img img {
        margin: 0 auto 20px;
    }
    
    .footer__contacts,
    .working__time,
    .social {
        margin: 15px 0;
        padding: 0;
    }
    
    .footer__contacts h2,
    .working__time h2,
    .social h2 {
        font-size: 18px;
    }
    
    .footer__contacts ul,
    .working__time ul {
        font-size: 16px;
    }
    
    .social img {
        width: 40px;
        height: 40px;
    }
    
    .end {
        width: 100%;
        height: auto;
        padding: 15px;
    }
    
    .end h1 {
        font-size: 14px;
        padding-top: 0;
    }
}

/* Очень маленькие экраны */
@media (max-width: 480px) {
    .header__logo {
        width: 60px;
    }
    
    .heading {
        font-size: 32px;
    }
    
    .map iframe {
        height: 300px;
    }
    
    .footer__contacts h2,
    .working__time h2,
    .social h2 {
        font-size: 16px;
    }
    
    .footer__contacts ul,
    .working__time ul {
        font-size: 14px;
    }
}
